[submodule "macros"]
	path = crates/macros
	url = ./macros
[submodule "orm"]
	path = crates/orm
	url = ./orm
[submodule "utils"]
	path = crates/utils
	url = ./utils
[submodule "application"]
	path = crates/application
	url = ./application
[submodule "web_ui"]
	path = crates/_web_ui
	url = ./web_ui
[submodule "gui"]
	path = crates/_gui
	url = ./gui
