[submodule "macros"]
	path = macros
	url = ./macros
[submodule "orm"]
	path = orm
	url = ./orm
[submodule "utils"]
	path = utils
	url = ./utils
[submodule "application"]
	path = application
	url = ./application
